In [ ]:
import pandas as pd

In [ ]:
train_df = pd.read_csv('sample_data/train.csv')

In [ ]:
train_df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [ ]:
train_df.isna().sum()

id               0
comment_text     0
toxic            0
severe_toxic     0
obscene          0
threat           0
insult           0
identity_hate    0
dtype: int64

In [ ]:
test_df = pd.read_csv('sample_data/test.csv')

In [ ]:
test_df.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [ ]:
test_target = pd.read_csv('sample_data/test_labels.csv')

In [ ]:
test_target.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,-1,-1,-1,-1,-1,-1

In [ ]:
len(train_df)

159571

In [ ]:
len(test_df)

153164

In [ ]:
len(test_target)

153164

In [ ]:
import re
import string

In [ ]:
def  clean_text(text):
    text =  text.lower()
    text = re.sub(r"i'm", "i am", text)
    text = re.sub(r"\r", "", text)
    text = re.sub(r"he's", "he is", text)
    text = re.sub(r"she's", "she is", text)
    text = re.sub(r"it's", "it is", text)
    text = re.sub(r"that's", "that is", text)
    text = re.sub(r"what's", "that is", text)
    text = re.sub(r"where's", "where is", text)
    text = re.sub(r"how's", "how is", text)
    text = re.sub(r"\'ll", " will", text)
    text = re.sub(r"\'ve", " have", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"\'d", " would", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"won't", "will not", text)
    text = re.sub(r"can't", "cannot", text)
    text = re.sub(r"n't", " not", text)
    text = re.sub(r"n'", "ng", text)
    text = re.sub(r"'bout", "about", text)
    text = re.sub(r"'til", "until", text)
    text = re.sub(r"[-()\"#/@;:<>{}`+=~|.!?,]", "", text)
    text = text.translate(str.maketrans('', '', string.punctuation)) 
    text = re.sub("(\\W)"," ",text) 
    text = re.sub('\S*\d\S*\s*','', text)
    
    return text

In [ ]:
train_df['comment_text'] = train_df['comment_text'].apply(lambda x:clean_text(x))

In [ ]:
test_df['comment_text'] = test_df['comment_text'].apply(lambda x:clean_text(x))

In [ ]:
train_df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,explanation why the edits made under my userna...,0,0,0,0,0,0
1,000103f0d9cfb60f,daww he matches this background colour i am se...,0,0,0,0,0,0
2,000113f07ec002fd,hey man i am really not trying to edit war it ...,0,0,0,0,0,0
3,0001b41b1c6bb37e,more i cannot make any real suggestions on im...,0,0,0,0,0,0
4,0001d958c54c6e35,you sir are my hero any chance you remember wh...,0,0,0,0,0,0

In [ ]:
comments_df = train_df.drop(['id','comment_text'],axis = 1)
for i in comments_df.columns :
    print("Percent of {0}s in train data: ".format(i), round(100*comments_df[i].mean(),2), "%")

Percent of toxics in train data:  9.58 %
Percent of severe_toxics in train data:  1.0 %
Percent of obscenes in train data:  5.29 %
Percent of threats in train data:  0.3 %
Percent of insults in train data:  4.94 %
Percent of identity_hates in train data:  0.88 %

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.snowball import SnowballStemmer

In [ ]:
nltk.download('stopwords')
sn = SnowballStemmer(language='english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
def stemmer(text):
    words =  text.split()
    train = [sn.stem(word) for word in words if not word in set(stopwords.words('english'))]
    return ' '.join(train)

In [ ]:
train_df.comment_text = train_df.comment_text.apply(stemmer)

In [ ]:
train_df.comment_text.head()

0    explan edit made usernam hardcor metallica fan...
1    daww match background colour seem stuck thank ...
2    hey man realli tri edit war guy constant remov...
3    cannot make real suggest improv wonder section...
4                           sir hero chanc rememb page
Name: comment_text, dtype: object

In [ ]:
X =  train_df.comment_text
y =  train_df.drop(['id','comment_text'],axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_valid, y_train,y_valid= train_test_split(X,y,test_size=0.2, random_state=1)

In [ ]:
X_train

150865    indic block editor comment might allow stand b...
59427     even userbox other page one userbox mean copyr...
150060    wikipedia censorship look bash back sodomit te...
108405    wikipedia new york meetup howdi pleas come fir...
139314                                  crazi german nutcas
                                ...
73349     charg russia putin medevev gather putin still ...
109259                                   edit forgot actual
50057                                 copi talk page serenc
5192                         read antibarnstar antibarnstar
128037                 fuck wikipedia peac except wikipedia
Name: comment_text, Length: 127656, dtype: object

In [ ]:
y_train

        toxic  severe_toxic  obscene  threat  insult  identity_hate
150865      0             0        0       0       0              0
59427       0             0        0       0       0              0
150060      0             0        0       0       0              0
108405      0             0        0       0       0              0
139314      1             0        0       0       0              0
...       ...           ...      ...     ...     ...            ...
73349       0             0        0       0       0              0
109259      0             0        0       0       0              0
50057       0             0        0       0       0              0
5192        0             0        0       0       0              0
128037      1             1        1       0       0              0

[127656 rows x 6 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# Apply tfidfVectorizer
word_vectorizer = TfidfVectorizer(
    strip_accents='unicode',     
    analyzer='word',            
    token_pattern=r'\w{1,}',    
    ngram_range=(1, 3),         
    stop_words='english',
    sublinear_tf=True)

word_vectorizer.fit(X_train)    
train_word_features = word_vectorizer.transform(X_train)

In [ ]:
X_train_transformed = word_vectorizer.transform(X_train)
X_valid_transformed = word_vectorizer.transform(X_valid)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import roc_auc_score , accuracy_score , confusion_matrix , f1_score
from sklearn.multiclass import OneVsRestClassifier

In [ ]:
log_reg = LogisticRegression(C = 10, penalty='l2', solver = 'liblinear', random_state=45)

In [ ]:
classifier = OneVsRestClassifier(log_reg)
classifier.fit(X_train_transformed, y_train)

OneVsRestClassifier(estimator=LogisticRegression(C=10, random_state=45,
                                                 solver='liblinear'))

In [ ]:
y_train_pred_proba = classifier.predict_proba(X_train_transformed)
y_valid_pred_proba = classifier.predict_proba(X_valid_transformed)

In [ ]:
roc_auc_score_train = roc_auc_score(y_train, y_train_pred_proba,average='weighted')
roc_auc_score_test = roc_auc_score(y_valid, y_valid_pred_proba,average='weighted')

print("ROC AUC Score Train:", roc_auc_score_train)
print("ROC AUC Score Test:", roc_auc_score_test)

ROC AUC Score Train: 0.9998085819129454
ROC AUC Score Test: 0.9763540679045324

In [ ]:
import joblib

joblib.dump(word_vectorizer, open('vectroize2_jlib', 'wb'))
vectorizer = joblib.load('vectroize2_jlib')

In [ ]:
def make_test_predictions(df,classifier):
    df.comment_text = df.comment_text.apply(clean_text)
    df.comment_text = df.comment_text.apply(stemmer)
    X_test = df.comment_text
    X_test =  X_test.to_numpy()
    X_test_transformed = vectorizer.transform(X_test)
    y_test_pred = classifier.predict_proba(X_test_transformed)
    result =  sum(y_test_pred[0])
    if result >=1 :
       return("Offensive Comment")
    else :
       return ("Normal Comment")

In [ ]:
xx ={'id':[565],'comment_text':['Shut up your mouth bitch']}
xx = pd.DataFrame(xx)

In [ ]:
make_test_predictions(xx,classifier)

'Offensive Comment'

In [ ]:
xx ={'id':[565],'comment_text':['hi I am happy to be here']}
xx = pd.DataFrame(xx)

In [ ]:
make_test_predictions(xx,classifier)

'Normal Comment'

In [ ]:
# Pickling the model
import pickle

In [ ]:
pickle.dump(classifier, open('clf_model.pkl', 'wb'))

In [ ]:
# Load the model
pickled_model=pickle.load(open('clf_model.pkl','rb'))

In [ ]:
def make_predictions(df):
    df.comment_text = df.comment_text.apply(clean_text)
    df.comment_text = df.comment_text.apply(stemmer)
    X_test = df.comment_text
    X_test =  X_test.to_numpy()
    X_test_transformed = vectorizer.transform(X_test)
    pickled_model=pickle.load(open('clf_model.pkl','rb'))
    y_test_pred = pickled_model.predict_proba(X_test_transformed)
    result =  sum(y_test_pred[0])
    if result >=1 :
       return("Offensive Comment")
    else :
       return ("Normal Comment")

In [ ]:
make_predictions(xx)

'Normal Comment'

In [ ]:
comment_text = "good to see you growing"
comment ={'id':[565],'comment_text':[comment_text]}
comment = pd.DataFrame(comment)
result = make_predictions(comment)
print(result)

Normal Comment